html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}
.clearfix:before,
.clearfix:after {
  content: '';
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
  font-size: 0;
}
.clearfix {
  *zoom: 1;
}
* {
  box-sizing: border-box;
}
a:link,
a:active,
a:visited,
a:hover {
  background: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}
.wrap {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  background-image: url(../images/hkhd.jpg);
  background-position: center center;
  background-repeat: no-repeat;
}
.header {
  width: 100%;
}
header .chahao {
  padding-top: 0.1rem;
  float: left;
  margin-left: 0.5rem;
  text-decoration: none;
}
header .chahao i {
  font-size: 0.4rem;
  color: #fff;
  font-weight: 100;
}
header .zhaohui {
  padding-top: 0.7rem;
  margin-right: 0.5rem;
  float: right;
  font-size: 0.3rem;
  color: #b3e9e7;
  text-decoration: none;
}
.main {
  margin: 0 auto;
  margin-top: 0.4rem;
  width: 4.2rem;
}
.main img {
  display: block;
  width: 1.7rem;
  margin: 0 auto;
  margin-bottom: 1.6rem;
}
.main-inner input {
  float: left;
  width: 3.6rem;
  margin-left: 0.1rem;
  background-color: rgba(0, 0, 0, 0);
  border: 0;
  border-radius: 0;
  color: #fff;
  line-height: 0.4rem;
  outline: none;
  border-bottom: 1px solid #fff;
}
.main-inner input::-webkit-input-placeholder {
  color: #d9f5f5;
}
.main-inner form i {
  display: block;
  float: left;
  font-size: 0.3rem;
  line-height: 0.4rem;
  color: #d7f6f5;
  margin-right: 0.14rem;
}
.main-inner .quan {
  display: block;
  width: 4.2rem;
  height: 0.8rem;
  border: 1px solid #fff;
  border-radius: 0.5rem;
  margin-top: 0.5rem;
  cursor: pointer;
  text-decoration: none;
}
.main-inner .join {
  margin-top: 0.03rem;
  margin-left: 0.03rem;
  width: 4.1rem;
  height: 0.7rem;
  background-color: #8bdfe0;
  border-radius: 0.45rem;
  color: #fff;
  font-size: 0.4rem;
  text-align: center;
  line-height: 0.7rem;
}
.main-inner span {
  margin-top: 0.2rem;
  display: block;
  font-size: 0.3rem;
  text-align: center;
  color: #fff;
}
.main-inner .join-icon {
  width: 4.2rem;
  margin: 0 auto;
  margin-top: 1.3rem;
  margin-bottom: 1.1rem;
}
.main-inner .join-icon a {
  float: left;
  display: block;
  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;
  border: 1px solid #fff;
  border-radius: 50%;
  text-decoration: none;
}
.main-inner .join-icon a:last-child {
  margin-right: 0;
}
.main-inner .join-icon a i {
  display: block;
  font-size: 0.5rem;
  line-height: 0.5rem;
  color: #d7f6f5;
  text-align: center;
  /* margin: 0 auto; */
  line-height: 1rem;
}
.main > p {
  font-size: 0.24rem;
  margin-top: 0.5rem;
  line-height: 1.2rem;
  color: #fff;
  width: 100%;
  text-align: center;
}
